<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.erp.mapper.ProductCpLhwmapper">
  
  <!-- 产品档案添加 -->
  <insert id="ProductAdd">
  insert into aregistrationform values(
  null,
  #{productname},
  #{productclassification},
  #{productlevel},
  #{manufacturer},
  #{unitmeasurement},
  #{measuredvalue},
  #{guaranteedate},
  #{ddescribe},
  #{marketvalue},
  #{carketvalue},
  #{productmanager},
  #{registrant},
  #{filingtime},
  '等待审核',
  #{reviewedby}
  )
  </insert>
  
  <!-- 产品类别查询 -->
  <select id="Selectcplb" resultType="categoryYWB">
  select * from category
  </select>
  
  <!-- 产品档次查询 -->
  <select id="Selectdcjb" resultType="Gradelevel">
   select * from Gradelevel
  </select>
    <!-- 产品经理 -->
  <select id="Selectcpjl" resultType="ProductmanagerYWB">
  select * from productmanager
  </select>
  <!-- 查询产品名称是否重复 -->
  <select id="SelectProductname" resultType="int">
    SELECT COUNT(Productname) FROM aregistrationform WHERE Productname=#{productname}
  </select>
<!--  产品档案准备审核-->
<select id="Selectzbsh" resultType="AregistrationformYWB">
SELECT a.*,b.categoryname,c.Gradelevelname,d.productmanagername   FROM  aregistrationform a,category b,Gradelevel c, productmanager d
WHERE a.Productclassification=b.categoryid AND
a.Productlevel=c.Gradelevelid AND
a.productmanager=d.productmanagerid AND
a.Toexamine=#{toexamine}
</select>
<!-- 查询待审核总数 -->
<select id="Selectdshzs" resultType="int">
SELECT COUNT(1) FROM aregistrationform WHERE Toexamine=#{toexamine}
</select>
<!-- 查询通过审核总数 -->
<select id="Selecttgshzs" resultType="int">
SELECT COUNT(1) FROM aregistrationform WHERE Toexamine=#{toexamine}
</select>
<!-- 产品档案审核 -->
<update id="dangansh">
UPDATE  aregistrationform  SET  productname=#{productname},manufacturer=#{manufacturer},
productclassification=#{productclassification},productlevel=#{productlevel},productmanager=#{productmanager},unitmeasurement=#{unitmeasurement},
ddescribe=#{ddescribe},measuredvalue=#{measuredvalue},filingtime=#{filingtime},marketvalue=#{marketvalue},
carketvalue=#{carketvalue},guaranteedate=#{guaranteedate},Toexamine='审核通过',registrant=#{registrant}
WHERE productID=#{productID}
</update>
<!-- 查询审核通过的信息 -->
<select id="Selectcx" resultType="AregistrationformYWB">
SELECT a.ProductID,a.Productname,a.manufacturer,b.categoryname,c.Gradelevelname,d.productmanagername
FROM  aregistrationform a,category b,Gradelevel c,productmanager d
WHERE a.Productclassification=b.categoryid AND
      a.Productlevel=c.Gradelevelid AND
      a.productmanager=d.productmanagerid AND
      Toexamine=#{toexamine}
</select>
<!-- 产品档案查询 -->
<select id="Selectform" resultType="AregistrationformYWB">
      SELECT a.*,b.categoryname,c.Gradelevelname,d.productmanagername    
FROM  aregistrationform a,category b,Gradelevel c,productmanager d 
WHERE a.Productclassification=b.categoryid AND
      a.Productlevel=c.Gradelevelid AND
      a.productmanager=d.productmanagerid AND
      a.Toexamine='审核通过'
</select>
<!-- 通过产品id查询档案信息 -->
<select id="Selectid" resultType="AregistrationformYWB">
SELECT a.*,b.*,c.*,d.*
FROM  aregistrationform a,category b,Gradelevel c,productmanager d
WHERE a.Productclassification=b.categoryid AND
      a.Productlevel=c.Gradelevelid AND
      a.productmanager=d.productmanagerid AND
      a.ProductID=#{ProductID}
</select>
  </mapper>
  