<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.erp.mapper.ProductCpLhwmapper">
  
  <!-- 产品档案添加 -->
  <insert id="ProductAdd">
  insert into aregistrationform values(
  null,
  #{productname},
  #{productclassification},
  #{productlevel},
  #{manufacturer},
  #{unitmeasurement},
  #{measuredvalue},
  #{guaranteedate},
  #{ddescribe},
  #{marketvalue},
  #{carketvalue},
  #{productmanager},
  #{registrant},
  #{filingtime},
  DEFAULT,
  #{reviewedby}
  )
  </insert>
  
  <!-- 产品类别查询 -->
  <select id="Selectcplb" resultType="categoryYWB">
  select * from category
  </select>
  
  <!-- 产品档次查询 -->
  <select id="Selectdcjb" resultType="Gradelevel">
   select * from Gradelevel
  </select>
    <!-- 产品经理 -->
  <select id="Selectcpjl" resultType="ProductmanagerYWB">
  select * from productmanager
  </select>
  <!-- 查询产品名称是否重复 -->
  <select id="SelectProductname" resultType="int">
    SELECT COUNT(Productname) FROM aregistrationform WHERE Productname=#{productname}
  </select>
<!--  产品档案准备审核-->
<select id="Selectzbsh" resultType="AregistrationformYWB">
SELECT a.*,b.categoryname,c.Gradelevelname,d.productmanagername   FROM  aregistrationform a,category b,Gradelevel c, productmanager d
WHERE a.Productclassification=b.categoryid AND
a.Productlevel=c.Gradelevelid AND
a.productmanager=d.productmanagerid AND
a.Toexamine=#{toexamine}
</select>
  </mapper>
  