<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>CSS3登录注册切换动画模板 - 站长素材</title>

<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="materialContainer">
	<div class="box">
		<div class="title">登录</div>
		 <form action="login2" method="post">
		<div class="input">
		用户名：<input type="text" name="username">
		</div>
		<div class="input">
			密码：<input type="password" name="PASSWORD">
		</div>
		<div class="button login">
				<span><button type="submit">登录</button></span>
		</div>
		<a href="javascript:" class="pass-forgot">忘记密码？</a>
		</form>
	</div>

</div>

<script src="js/jquery.min.js"></script>
</body>
</html>